body {
    background-image: url("https://www.saga.co.uk/contentlibrary/saga/publishing/verticals/technology/apps/shutterstock_240459751.jpg");
    background-size: cover;
}

form {
    width: 40%;
    height: 15%;
    margin-top: 20rem;    
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    background-color: white;
    margin-left: 3rem;
}

.btn-success {
    width: 10%;
}

p {
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h5 {
    text-align: center;
    font-family: monospace;
    font-size: x-large;
}

.section1 {
    margin-top: 5rem;
    width: 40%;
}

.container {
    text-align: center;
}

th {
    background-color: white;
    border: 2px solid black;
}

table {
    border: 2px solid black;
    margin-top: 10rem;
    text-align: center;
}

td, tr , tr{
    border: 2px solid black;
    background-color: white;
}

.card {
    position: relative;
    left: 80rem;
    top: -20rem;
}

