.container {
    margin-top: 100px;
}

.card {
    background-color: green;
    transition: transform .2s; 
    margin: 0 auto;
}

.card:hover {
    transform: scale(1.2); 
    color: red;
}

body {
    background-image: url("https://www.pixelstalk.net/wp-content/uploads/2016/07/Desktop-HD-Pictures-1920x1080.jpg");
    background-repeat: no-repeat;
    background-size: cover
}

.container-car {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    border: 2px solid white;
}

h5, p {
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form {
   margin-left: 200px;
   margin-right: 200px; 
   padding: 20px;
   background-color: white;
   border: 2px solid black;
   margin-bottom:  40px;
   min-width: 400px;
}

div h1 {
    text-align: center;
    color: red;
    font-family: monospace;
}
input[type="email"]:focus {
    background-color: lightyellow;
    border-color: black;
} 

input[type="email"]:hover {
    border-color: red;
} 

textarea:hover {
    border-color: red;
}

.carousel-item:hover {
    transform: scale(1.1);
}

b {
    font-family: monospace;
    font-size: larger;
}

label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}

#labels {
    text-align: left;
}


